@import 'responsive';
$primaryFont:'Hind', sans-serif;

h1{
    font-family: $primaryFont;
    text-align:center;
    color: white;
    letter-spacing:2px;
    padding-top:15px;
    margin-bottom:-10px;
    
}

h2{
    font-family: $primaryFont;
    text-align:center;
    letter-spacing:2px;
    padding-top:30px;
}

h3{
    font-family: $primaryFont;
    display:block;
    list-style-type:none;

}
.pad h4{
    margin-top:-16px;
    font-style:italic;
}

h4{
    font-family: $primaryFont;
}

h5{
    font-family: $primaryFont;
}





#index-header{
    text-align:center;
}


li{
    font-family: 'Heebo', sans-serif;
}

main{
background:linear-gradient(lightblue 80%, peachpuff);
margin-top:-20px;
padding-bottom:90px;
}

header{
    background-color:rgb(48, 40, 40);
    margin-top:5px;
    z-index:1;

    }

/*nav bar*/
.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(48, 40, 40);
    margin-bottom:20px;
    text-align:center;
    


}


.bar > li {
    text-align:center;
    font-family: $primaryFont;
    float:left;

    
}


.bar > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;


}

li a:hover {
    background-color: black;
    animation-name:fadein;
    animation-duration:1.5s;
    




}



li a:active {
    padding-left:21px;
    padding-right:21px;
}


/*formatting*/

.container{
    margin-left:5%;
    margin-right:5%;
    background-color:white;

    }


body {
    background:linear-gradient(rgb(48, 40, 40),darkgray);
    background-repeat:no-repeat;
    background-attachment: fixed;
    padding-bottom:30px;
}





.project-title{
    text-align:center;
}

.project{
    display:block;
    float:right;
    margin-right:100px;
}

.project-pic{
    border:3px solid black;
    border-radius:3%;
    transition: .5s ease;
    max-width:100%;
}

.project-pic:hover{
    opacity: 0.8;
    width:650px;
    height:325px;
    max-width:100%;
}

.project-case{
    border:6px solid black;
    transition: .5s ease;

}

.project-case:hover{
    opacity: 0.3;
    width:300px;
    height:162px
}



.gray-project-pic{
    float:left;
    margin-left:100px;
}






.pad{
    padding-left:5%;
    padding-right:5%;
}

.job{
    border: 3px solid black;
    margin-bottom:20px;
    padding: 0 2% 0 2%;

}

.job:hover{
    animation-name: fadeblack;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.contact{

    text-align:center;
    font-family: $primaryFont;
    font-weight:bold;
}

.contact > input{
    width:50%;
    font-family: 'Radley', serif;
    font-size:32px;
    background-color: rgb(48, 40, 40);
    color:lightblue;
    text-align:center;
}


#message{
    background-color: rgb(48, 40, 40);
    color:lightblue;
    width:50%;
    height:100px;
    font-family: 'Radley', serif;
    font-size:24px;
    margin-top:25px;
}

#about-header{
    text-align:center;
    padding-top:50px;
    margin-top:50px;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px  rgb(48, 40, 40) inset;
}


input:-webkit-autofill {
    -webkit-text-fill-color: lightblue !important;
} 

footer {
    position: relative;
    margin-top: -30px;
    /* negative value of footer height */
    height: 30px;
    clear: both;
    background-color: rgb(48, 40, 40);
    text-align:center;
    color:white;
    font-family: $primaryFont;
  }



aside > h4{
font-family: 'Radley', serif;
}



.blogh4{
    text-align:center;
    margin-top:40px;
}

#blog-print h2{
    padding-top:0;
}

.active-blog{
    animation-name: nomargin;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.flex-item{
    width:25%;
    border: 3px solid black;
    border-radius:3%;
    text-align:left;
    margin: 20px 20px;

}

.flex-pics{
    border: 3px solid black;
    border-radius:3%;
    margin: 5px;
    clear:both;
    display:inline-block;
    transition: .5s ease;
}

.flex-pics:hover{
    opacity: 0.8;
    width:550px;
    height:275px;
    max-width:100%;
}

.flex-item:hover{
    
    animation-name: fadebig;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.flex-blog{
    width:25%;
    border: 3px solid black;
    border-radius:3%;
    text-align:center;
    margin: 20px 20px;


}

.flex-blog:hover{
    
    animation-name: fadebig;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    cursor:pointer;
}



.flex-item h4,
.flex-item h5{
    text-align:center;
}
.flexbox{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        flex-direction:row;
        clear:both;
    }

.is-hidden{
    display:none;
}

footer a{
    color:white;
}


  @keyframes fadein{
    from{
        background-color:rgb(48, 40, 40);
    }
    to {
        background-color:black;
        color: #fff;
        text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
    
    }
}

@keyframes fadebig{
    from{
     
        box-shadow: 0;
        width:25%;
        

    }
    to{
        box-shadow: 10px 10px 5px grey;
        width:30%;
        background-color:black;
        color:white;
    }
}

@keyframes fadeblack{
    from{
        color:black;
    }
    to{
        background-color:black;
        color:white;
    }
}

@keyframes nomargin{
    from{
        margin-top:160px;
    }
    to {
        margin-top:0px;
    
    }
}