$primaryFont:'Hind', sans-serif;

p {
    text-indent: 50px;
    line-height: 1.2;
    font-family: 'Heebo', sans-serif;
    padding: 0 40px 0 40px;
    font-size:18px;
    
    }

@media only screen and (max-width: 600px) {
    p {
        text-indent:0;
    }
}

@media only screen and (max-width: 600px) {
    body {
        width:100%;
        margin:0;
        padding:0;
    }
}

@media only screen and (max-width: 600px) {
    main {
        margin:0;
        padding:0;
    }
}

.project-description{
    display:block;
    text-align:center;
}


@media only screen and (max-width: 600px) {
    .project-description{
        margin-left:0;
        float:none;
        text-align:center;
        margin-bottom:10px;
    }
}



@media only screen and (max-width: 600px) {
    .ind-project img:not(.wyfy-project-pic),
    .gray-project img:not(.wyfy-project-pic) {
        width:275px;
        height:150px;
        margin:0;
        padding:0;
        margin-left:auto;
        margin-right:auto;
        display:block;    }
}

.ind-project{
    clear:both;
    display:block;
    overflow:auto;
    margin:auto; 
    height:auto;
    padding-top:50px;
    padding-bottom:50px;
}

.gray-project{
    display:block;
    background:linear-gradient(lightblue, darkgray 5%,lightblue 95%);
    overflow:auto;
    margin:auto; 
    height:auto;
    clear: both;
    padding-top:50px;
    padding-bottom:50px;
}

@media only screen and (max-width: 600px) {
    .ind-project,
    .gray-project {
        text-align:center;
    }
}

@media only screen and (max-width: 600px) {
    .ind-project h3,
    .gray-project h3 {
        display:inline-block;
        text-align:center;
        margin:0;
        padding:0;
    }
}

@media only screen and (max-width: 600px) {
    .ind-project a {
        display:inline-block;
        float:none;
        width:275px;
        height:150px;
        margin:0;
        padding:0;
        text-align:center;
    }
}



.goto-project{
    font-family: $primaryFont;
    border:3px solid black;
    border-radius:7%;
    color:lightblue;
    background-color:black;
    text-decoration:none;
    padding:5px;
    display:inline-block;
    margin-bottom:20px;
}

@media only screen and (max-width: 600px) {
    .goto-project{
        display:inline-block;
        max-width: 175px;
        max-height: 30px;
    }
}

.goto-project:hover{
    animation-name: fadeblue;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}


#article-div{
    text-align:center;
}

#blog-print{
    border:3px solid black;
    border-radius:3%;
    margin-left:160px;
    margin-right:160px;
    margin-top:160px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #blog-print {
        display:inline;
        border:none;
    }
}

@media only screen and (max-width: 600px) {
    #blog-header,
    .blogh4 {
        display:inline-block;
        text-align:center;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
}

.portrait{
    display:block;
    float:left;
    // margin-left: auto;
    // margin-right: auto;
    box-shadow: 3px 3px 1px grey;
    border-radius:3%;
    border: 3px solid black;
}

@media only screen and (max-width: 600px) {
    .portrait {
        display:inline-block;
        text-align:center;
        float:none;
        border:none;
        // width:330px;
        // height:500px;
    }
}

.index-main{
    padding-left:150px;
    padding-right:150px;
}

@media only screen and (max-width: 600px) {
    .index-main {
        text-align:center;
        padding-left:0px;
        padding-right:0px;
    }
}

.bout-me{
    border:3px solid black;
    border-radius: 3%;
    float:right;
    max-width:60%;
    
}

@media only screen and (max-width: 600px) {
    .bout-me {
        float:none;
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        border:none;
    }
}

.bout-me:hover{
    animation-name: fadeblack;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.bout-me p{
    font-size:16px;
    
}

aside{
    text-align:center;
    margin-top:175px;

}

@media only screen and (max-width: 600px) {
    aside {
        max-width: 100%;
        margin-left:0;
        margin-right:0;
        display:block;
    }
}

.contact input[type=submit] {
    margin-top:40px;
    background-color:gray;
    color:black;
    width:40%;
    display:inline-block;
    text-align:center;

}


@keyframes fadeblue{
    from{
        background-color:black;
        color:lightblue;
    }
    to{
        background-color:lightblue;
        color:black;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}


.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.project-display-btns{
    font-family: $primaryFont;
    border:3px solid black;
    border-radius:7%;
    color:lightblue;
    background-color:black;
    text-decoration:none;
    padding:5px;
    margin-left:15px;
    margin-right:15px;
}

@media only screen and (max-width: 600px) {
    .project-display-btns{
        display:inline-block;
        max-width: 175px;
        max-height: 30px;
    }
}

.project-display-btns:hover{
    animation-name: fadeblue;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#slide1{
display:none;

}

#slide2{
display:none;

}

#slide3{
display:none;

}

#slide4{
display:none;

}



.hide{
    display:none;
}

#wyfy-intro{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    #wyfy-intro{
        display:block;
        flex-direction:column;
    }
}



#wyfy-big{
    border:none;
    display:block;
}

#wyfy-logo{
    border:none;
    display:block;
    margin-top:100px;
    width:40%;
    height:40%;


}


#wyfy-logo:hover{
    border:none;
    display:block;
    margin-top:100px;
    height:40%;
    width:40%;


}